body {
    transition: background  1.5s;
    font-family: 'HeydingsCommonIconsRegular', Helvetida Neue, sans-serif;
 }

 
@font-face {
    font-family:'HeydingsCommonIconsRegular';
    src: url('http://ianfarb.com/random/heydings_icons-webfont.eot');
    src: url('http://ianfarb.com/random/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://ianfarb.com/random/heydings_icons-webfont.woff') format('woff'),
         url('http://ianfarb.com/random/heydings_icons-webfont.ttf') format('truetype'),
         url('http://ianfarb.com/random/heydings_icons-webfont.svg#HeydingsCommonIconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#main-container {
    padding: 2rem;
    max-height:500px;
    max-width: 500px;
    z-index:1;
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    background-color: red;
    /* background-image: url( './assets/blob.svg' ); */
    background-size: 80%;
    background-repeat: no-repeat;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position:center;
    transition: background  1.2s;
    transition: border-radius  1.5s;
    transition: color  1.5s;
 }

 #joke-container {
     max-width: 60%;
     height:100px;
     text-decoration:none;
     line-height: 1.5;
     font-weight: bolder;
     margin-bottom: 2rem;
    
 }

 #small-blob {
     height: 200px;
     width: 200px;
 }

 .score-btn {
    background: none;
	color: inherit;
	border: none;
    size: 1.5rem;
	padding: 1.5rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 25px;
 }

 img {
     height: 25px;
 }
 
 svg {
     height: 50px;
 }

 path {
     fill: rgb(255, 255, 255);
     
 }

 path:hover {
     fill: black;
     transform: scale(1.2);

 }
 

 #btn-jokes {
     background: rgb(81, 32, 179);
     color: white;
     padding: 1rem;
     border: none;
     cursor: pointer;
     border-radius: .4rem;
 }



 #weather-container {
     font-weight: bold;
 }

  .blob {
      height: 500px;
      width: 500px;
  }

